.App {
  display:flex;
  flex-direction: column;
  padding: 16px;
  z-index: 1;
  width: 100vw;
  padding-top: 72px;  
  //padding-top: 23vmin;  
  min-height: 100%;
  justify-content: space-between;
  overflow: hidden;
  position: relative;

  
  &__title{
    margin-top: 64px; 
    font-family: 'BebasNeue';
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
  }
  @media(min-width:1025px) {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 154px;
  }
}
.App h1{
  flex-direction: column;
  background-color: transparent;
  align-items: flex-start;
  @media (min-width:1025px) {
    //padding-bottom: 51px;
  }
}
// .app__burgerwrapper{
//   //width: fit-content;
//   height: 100%;
//   background-color: gold;
//   position: absolute;
//   width: 375px;
//   top: 0;
//   //right: -580px;
//   right: 0;
//   transform: translate(-580px);
//   border: 2px solid red;
//   transition: all;
//   z-index: 10;

//   @media (min-width:1025px) {
//     width: 580px;
//   }
// }
// .show_container{
//   transform: translate(0);
//   transition: all .5s;
//   //right: 0;
// }
.app__burgerwrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  right: -100%;
  transition: all .4s;
  top: 0;
  z-index: 10;
  background: rgba(18, 20, 42, 0.8);
  backdrop-filter: blur(24px);

  @media (min-width:1025px) {
    width: 455px;
  }
}
.show_container{
  right: 0;
}
.app_container_content{
  position: relative;
  background-color: transparent;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width:1025px) {
    flex-direction: row;
  }

  @media (min-width:1440px) {
    //padding-left: 8.5%;
  }
}
.showError{
  border:1px solid red;
  border-radius: 4px;

  z-index: 9999;
  color: white;
  font-family: 'BebasRu';
  font-weight: 600;
  font-size: 36px;
  padding: 12px;
  transition: all 0.5s;
  width: fit-content;
}

.login_message{
  position: absolute;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 24px;
  gap: 16px;
  //width: auto;
  

  
  //width: 343px;
  //height: 136px;

  background: rgba(66, 133, 244, 0.2);
  transition: all 0.5s;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(24px);
 

  border-radius: 12px;
}
.hide_message{
  display: none;
  transition: all .7s;
  opacity: 0;
  width: 0;
  z-index: -2;
  right: -100%;
}
.show_message{
  width: auto;
  top: 25px;
  left: 16px; 
  right: 16px;
  opacity: 1;
  z-index: 2;
  transition: all .5s;
}
.info_pic{
  width: 20px;
  background-color: transparent;
}
.close_btn{
  width: auto;
  border: none;
  padding: 0;
  background-color: transparent;
}
.close_btn_pic{
  background-color: transparent;
  border: none;
  width: 16px;
  height: 16px;
  padding: 0;

}
.app__burger_bckgr{
  position: absolute;
  //background-color: rgba(0,0,0,0.4);
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  background: rgba(18, 20, 42, 0.8);
  backdrop-filter: blur(16px);
}
.app_h1{
  padding: 30px 0;
}
.app_main{
  flex-direction: column;
  @media(min-width:1025px) {
    //max-width: 58%;
  }
  @media(min-width:1440px) {
    //max-width: 50%;
    align-items: flex-start;
  }
}
.button_to_order{
  margin-top: 14.9333333333vmin;
  max-height: 14.4vmin;
  flex: 1 0 87.2vmin;
  border-radius: 2px;
  padding: 4vmin 1.3333333333vmin;
  font-size: 6.4vmin;
  line-height: 6.4vmin;
  text-align: center;
  color: #fff;
  background-color: #eab11f;
  border: none;
  user-select: none;

  @media (min-width:1025px) {
    margin-top: 56px;
    width: 312px;
    flex: none;
    padding: 14px 5px;
    min-width: 47%;
    font-size: 36px;
    line-height: 36px;
  }
}
.app_profile_ava{
  position: relative;
  background-color: #36b23b;
  border-radius: 50%;
  align-self: flex-start;
  min-width: 12.8vmin;
  min-height: 12.8vmin;
  font-size: 6.4vmin;
  width: auto;

  @media (min-width:1025px) {
    width: 72px;
    height: 72px;
    min-width: 72px;
    min-height: 72px;
    font-size: 36px;
    line-height: 43px;
  }
}
.app_profile_char{
  width: auto;
  line-height: initial;
}
.app_profile_btn_ava{
  position: absolute;
  right: -10px;
  bottom: -10px;
  border-radius: 50%;
  color: rgba(0,0,0,.2);
  background-color: #fff;
  cursor: pointer;
  background-image: url('/img/camera.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  width: 6.4vmin;
  height: 6.4vmin;

  @media (min-width:1025px) {
    right: 0;
    bottom: 0;
    padding: 0 5px;
    width: 24px;
    height: 24px;
  }
}
.app_profile_fileinput{
  position: absolute;
  overflow: hidden;
  margin: -1px;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}
.app_profile_wrapper{
  gap: 16px;
}
.app_profile_h1{
  font-size: 6.4vmin;
  line-height: 6.4vmin;
  padding-left: 3.2vmin;
  padding-bottom: 0!important;

  @media (min-width: 1025px) {
    margin-top: 0;
    font-size: 48px;
    line-height: 48px;
  }
}
.faq_h2{
  padding: 0 0 5.3333333333vmin;
  font-size: 10.8vmin;
  line-height: 10.8vmin;
  background-color: transparent;
  justify-content: flex-start;

  @media (min-width:1025px) {
    padding-bottom: 20px;
    font-size: 72px;
    line-height: 72px;
  }
}
.faq_main{
  padding-top: 14.6666666667vmin;

  @media (min-width:1025px) {
    padding-left: 12px;
    padding-top: 90px;
  }
}
.app_contact_main{
  max-width: initial;
}
.app_payment_h{
  padding:30px 0 5.3333333333vmin;
}
.app_h1{
  padding: 30px 0;
  font-size: 10.8vmin;
  line-height: 10.8vmin;
  background-color: transparent;
  justify-content: flex-start;
  font-weight: 400;

  @media (min-width:1025px) {
    font-size: 72px;
    line-height: 72px;
  }
}
.terms_text{
  font-family: 'Montserrat',helvetica,arial,sans-serif;
  font-size: 3.7333333333vmin;
  line-height: 4.8vmin;
  letter-spacing: -.02em;
  color: hsla(0,0%,100%,.8);
  background-color: transparent;

  @media (min-width:1025px) {
    font-size: 14px;
    line-height: 18px;
  }
}
.buy_btn{
  justify-content: center;
  align-items: center;
  padding: 20px 64px;
  gap: 8px;
  //width: 343px;  
  height: 64px;
  background: linear-gradient(265.73deg, #A82DF9 0%, #6678E9 100%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;

  @media (min-width:1025px) {
    min-width: 284px;
    width: 260px;
    height: 64px;
  }
}
.calc_btn{
  position: relative;
  background: #12142b;
  padding:16px 60px;
}
.calc_btn:before{  
    content: '';
    position: absolute;
    top: -2px; right: -2px; bottom: -2px; left: -2px;
    z-index: -1;
    border-radius: 12px;
    background: linear-gradient(265.73deg, #A82DF9 0%, #6678E9 100%);  
}
.calc_icon{
  width: auto;

  @media (min-width:1025px) {
    width: 16px;

  }
}
.wrapper_btns{
  padding: 28px 0;
  gap: 16px;
  flex-direction: column;

  @media (min-width:1025px) {
    flex-direction: row;
    //padding-top: 0;
    padding: 0;
  }
}
.wrapper_desk_btns{
  flex-direction: column;

  @media (min-width:1025px) {
    flex-direction: row;
    padding-top: 52px;
    padding-bottom: 28px;
  }
  
}
.method_info{
  color: inherit;
  width: auto;
  gap: 12px;

  @media (min-width:1025px) {
    text-align: center;
  }
}
.method_info img{
  background-color: transparent;
  width: 20px;
}

.method_info:hover .info_text{
  color: white;
  transition: all 0.3s linear;
}
.info_method{
  margin:4vmin auto 4.5vmin;
  color: hsla(0,0%,100%,.5);
  justify-content: center;

  @media (min-width:1025px) {
    margin: 0 16px;
  }
}
.info_method_title{
  margin-left: auto;
  color: hsla(0,0%,100%,.5);
}
.mainorder_option_btn:hover .info_method_title{
  color: white;
  transition: all 0.3s linear;
}
.hide{
  display: none;
}
.info_text{
  color: inherit;
  align-items: center;
  background-color: transparent;
  //padding: 0 8px;
  @media (max-width:1024px) {
      // font-size: 3.2vmin;
      // line-height: 4vmin;
      font-size: 16px;
      line-height: 20px;
  }
}
.info_text:hover{
  color: rgb(255, 255, 255);
}
.scroll_wrapper{
  background-color: transparent;
  width: 0;
  position: fixed;
  bottom: 144px;
  right: 20px;
  z-index: 2;
  transition: all 0.5s;
  opacity: 0;
}
.cookie_wrapper{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  z-index: 2;

  @media (min-width:1025px) {
    padding: 32px;
    width: 40%;
  }
}
.modal_calc_wrapper{
  position: relative;
  display: none;
  //top: 12px;
  //left: 0;
  //right: 0;
  //bottom: 0;
  width: auto;
  background: rgba(27, 29, 51, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(22px);
  border-radius: 28px 28px 0px 0px;
  z-index: 3;
  //padding:16px;
  flex-direction: column;
  overflow: hidden;

  @media (min-width:1025px) {
    //position: fixed;
    width: 672px;
    height: 752px;
    //left: calc(50% - 672px/2);
    //top: 121px;
    background: #2B2D43;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 28px;
  }
}
.blur{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 20, 42, 0.8);
  backdrop-filter: blur(22px);
  z-index: 2;
}

.modal_calc_true{
  display: flex;
}
.modal_calc_false{
  display: none;
}

.btn_close_wrapper{
  background: transparent;
  padding: 16px;
  justify-content: flex-end;
}
.modal_calc_btn_close{  
  min-width: 32px;
  min-height: 32px;
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  background-image: url('/img/whitecross.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  align-self: flex-end;
}
.buy_btn_wrapper{
  margin-top: auto;
  padding: 16px;
  padding-bottom: 32px;

  @media (min-width:1025px) {
    justify-content: center;
  }
}
.custom_style::after{
  display: none;
  content: '';
  
  position: absolute;
  width: 670px;
  height: 506px;
  z-index: -2;

  @media (min-width:1025px) {
    display: block;
    right: 0;
    background-image: url('../img/cover_desk.png');
    background-size: 729px;
    background-repeat: no-repeat;
    width: 722px;
    top: 143px;
  }
}
.wrapper_desk{
  flex-direction: column;
  
  @media (min-width:1025px) {
    width: 770px;
    padding-bottom: 120px;
  }
}
.offer_wrapper{
  flex-direction: column;
  gap: 16px;
  @media (min-width:1025px) {
    flex-direction: row;
  }
  
}
.h2{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    background: inherit;
    padding-bottom: 8px;
}
.app_column{
  flex-direction: column;
}
.calc_page{
  position: fixed;
  overflow: auto;
  width: 100%;
  justify-content: center;
  padding: 16px 0;
  height: 100vh;
  z-index: -2;
  top: 0;
}
