.App {
  display:flex;
  flex-direction: column;
  padding: 24px;
  z-index: 1;
  width: 100vw;
  padding-top: 23vmin;  
  min-height: 100%;
  justify-content: space-between;

  
  &__title{
    margin-top: 64px; 
    font-family: 'BebasNeue';
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
  }
  @media(min-width:1025px) {
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 137px;
  }
}
.App h1{
  flex-direction: column;
  background-color: transparent;
  align-items: flex-start;
  @media (min-width:1025px) {
    padding-bottom: 51px;
  }
}
.app__burgerwrapper{
  width: fit-content;
  height: 0;
}
.app_container_content{
  position: relative;
  background-color: transparent;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;

  @media (min-width:1440px) {
    padding-left: 8.5%;
  }
}
.showError{
  border:1px solid red;
  border-radius: 4px;

  z-index: 9999;
  color: white;
  font-family: 'BebasRu';
  font-weight: 600;
  font-size: 36px;
  padding: 12px;
  transition: all 0.5s;
  width: fit-content;
}
.app__burger_bckgr{
  position: absolute;
  background-color: rgba(0,0,0,0.4);
  top: 0;
  z-index: 10;
  height: 100%;
}
.app_h1{
  padding: 30px 0;

}
.app_main{
  flex-direction: column;
  @media(min-width:1025px) {
    max-width: 58%;
  }
  @media(min-width:1440px) {
    max-width: 50%;
    align-items: flex-start;
  }
}