.App {
  display:flex;
  flex-direction: column;
  padding: 24px;
  z-index: 1;
  width: 100vw;
  padding-top: 200px;
  
  &__title{
    margin-top: 64px; 
    font-family: 'BebasNeue';
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
  }
}
.App h1{
  flex-direction: column;
  background-color: transparent;
}
.app__burgerwrapper{
  width: fit-content;
  height: 0;
}
.app_container_content{
  position: relative;
  background-color: transparent;
}
.showError{
  border:1px solid red;
  border-radius: 4px;

  z-index: 9999;
  color: white;
  font-family: 'BebasRu';
  font-weight: 600;
  font-size: 36px;
  padding: 12px;
  transition: all 0.5s;
  width: fit-content;
}
.app__burger_bckgr{
  position: absolute;
  background-color: rgba(0,0,0,0.4);
  top: 0;
}