.burger_menu{
    position: absolute;
    display: flex;
    z-index: 1;
    background-color: #12142b;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    max-width: 640px;
    right: 0;
    top: 0;
}
.burger_menu__wrapper{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    padding: 65px 0px 0px;
}
.burger_menu__footer{
    border-top: 1px solid hsla(0,0%,76.9%,.2);
    height: 100px;
}
.burger_menu__icon{
    width: 35px;
    fill: white;
    cursor: pointer;

    &:hover{
        fill: gold;
    }
}
.auth_tab{
    border: none;
    height: auto;
    font-size: 48px;
    line-height: 48px;
}
.burger_auth_wrapper{
    height: auto;
    padding-bottom: 80px;
}
.auth_container{
    padding: 100px 32px 48px;
    flex-direction: column;
    overflow: auto;
    justify-content: flex-start;

    &::-webkit-scrollbar {
        width: 4px;
        transition: opacity 0.5s ease-out;
        border: none;
    }

    &::-webkit-scrollbar-thumb {
        border: 4px solid rgba(255, 255, 255, 0.4);
        transition: opacity 0.5s ease-out;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}
.auth_content_wrapper{
    flex-direction: column;
}
.auth{
    flex-direction: column;
}
.auth_text{
    font-family: 'Montserrat',helvetica,arial,sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    justify-content: flex-start;
    padding-bottom: 30px;
}
.auth_btns_wrapper{
    gap: 8px;
}
.auth_fb{
    height: 42px;
    padding: 10px;
    background: hsla(0,0%,100%,.1);
    border-radius: 8px;
    border: none;
}
.auth_fb:hover{
    background: hsla(0,0%,100%,.2);
}
.auth_fb:hover img{
    transform: scale(1.1);
}
.auth_fb_img{
    background: transparent;
}
.auth_or{
    font-family: 'Montserrat',helvetica,arial,sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    justify-content: flex-start;
    margin: 40px 0 30px;
}
.auth_form{
    flex-direction: column;
    display: block;
}
.auth_legend{
    font-family: 'Montserrat',helvetica,arial,sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    width: fit-content;
    padding: 0 8px;
}
.auth_fieldset{
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    height: auto;
}
.auth_fieldset input{
    color: white !important;
    background-color: transparent !important;
}
.auth_userdata{
    border: none;
    background-color: transparent !important;
    color: white !important;
    font-family: 'Oswald',sans-serif;
    font-size: 36px;
    line-height: 38px;
    height: 45px;
}
.auth_view_pass{
    position: absolute;
    right: -18px;
    top: 40%;
    z-index: 99;
    width: 45px;
    height: auto;
    color: #fff;
    transform: translate(-50%,-50%);
    border: none;
    background-color: transparent;
}
.auth_view_pass img{
    background-color: transparent;
    color: #fff;
}
.num_simbols_wrapper{
    justify-content: flex-start;
    height: auto;
    padding-top:20px;
}
.ok_pic{
    width: auto;
    height: auto;
    height: 25px;
    width: 25px;
}
.email_fieldset{
    margin-bottom: 35px;
}
.cancel{
    background-image: url('../public/img/cancel.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.ok{
    background-image: url('../public/img/okay.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.simbols_text{
    font-family: 'Montserrat',helvetica,arial,sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    justify-content: flex-start;
    padding-left: 12px;
}
.submit_wrapper{
    height: auto;
    padding-top: 50px;
    padding-bottom: 40px;
}
.submit_btn{
    border: none;
    border-radius: 4px;
    color: white;
    font-family: 'BebasRu';
    font-weight: 600;
    font-size: 30px;
    background-color: #eab11f;
    padding: 30px;
}
.disabled{
    pointer-events: none;
    opacity: 0.5;
}
.fieldset_pass{
    padding-right: 50px;
}
.login_mobile{
    gap: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding-right: 60px;
}
.logout_menu{
    font-size: 36px;
    padding: 24px;
    height: auto;
}
@media(min-width: 1024px){
    .burger_menu{
        width: 50%;
    }
    .submit_btn{
        font-size: 48px;
        padding: 40px;
    }
    .submit_wrapper{
        padding-top: 100px;
    }
}