.burger_menu{
    position: fixed;
    display: flex;
    z-index: 10;
    background-color: #12142b;
    width: 100%;
    //height: 100vh;
    flex-direction: column;
    //max-width: 640px;
    //right: -30%;
    transition: all .3s linear;
    top: 0;
    bottom: 0;
    justify-content: flex-start;
}
.burger_menu_desk{
    position: fixed;
    display: flex;
    z-index: 10;
    background-color: #12142b;
    width: 100%;
    //height: 100vh;
    flex-direction: column;    
    right: -30%;
    transition: all .3s linear;
    top: 0;
    bottom: 0;

    @media (min-width:1025px) {
        max-width: 520px;
    }
}
.burger_menu__wrapper{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    padding: 0px;
    //padding: 65px 0px 0px;
    //height: 100%;
    justify-content: flex-start;    
    //justify-content: center;    

    @media (min-width:1025px) {
        justify-content: flex-start;
    }
}
.burger_menu__footer{
    border-top: 1px solid hsla(0,0%,76.9%,.2);
    height: 100px;
}
.burger_menu__icon{
    width: 35px;
    fill: white;
    cursor: pointer;

    &:hover{
        fill: gold;
    }
}
.burger_btn_wrapper{
    justify-content: flex-start;
}
.auth_tab{
    border: none;
    height: auto;
    font-size: 9.6vmin;
    //font-size: 40px;
    //line-height: 48px;
    line-height: 12.8vmin;
    width: auto;

    @media (min-width:1025px) {
        font-size: 48px;
        line-height: 48px;
    }
}
.burger_auth_wrapper{
    height: auto;
    padding-bottom: 48px;
    gap: 20px;
}
.auth_container{
    padding: 37.3vmin 24px 48px;
    flex-direction: column;
    overflow: auto;
    justify-content: flex-start;

    @media (max-width:1024px) {
        //margin-top: auto;
    }

    &::-webkit-scrollbar {
        width: 4px;
        transition: opacity 0.5s ease-out;
        border: none;
    }

    &::-webkit-scrollbar-thumb {
        border: 4px solid rgba(255, 255, 255, 0.4);
        transition: opacity 0.5s ease-out;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}
.auth_content_wrapper{
    flex-direction: column;
}
.auth{
    flex-direction: column;
}
.auth_text{
    font-family: 'Montserrat',helvetica,arial,sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    justify-content: flex-start;
    padding-bottom: 30px;

    @media (min-width:1025px) {
        padding-bottom: 16px;
    }
}
.auth_btns_wrapper{
    gap: 8px;
}
.auth_fb{
    height: 42px;
    padding: 10px;
    background: hsla(0,0%,100%,.1);
    border-radius: 4px;
    border: none;
}
.auth_fb:hover{
    background: hsla(0,0%,100%,.2);
}
.auth_fb:hover img{
    transform: scale(1.1);
}
.auth_fb_img{
    background: transparent;
}
.auth_or{
    font-family: 'Montserrat',helvetica,arial,sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    justify-content: flex-start;
    margin: 6.4vmin 0 4.2vmin;
    
    @media (min-width:1025px) {
        margin: 40px 0 30px;
    }
}
.auth_form{
    flex-direction: column;
    display: block;
}
.auth_legend{
    font-family: 'Montserrat',helvetica,arial,sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    width: fit-content;
    padding: 0 8px;
    position: absolute;
    top: -10px;
    /* background: transparent; */
    left: 30px;
    height: auto;
    opacity: 0;
    transition: all linear 0.5s;
}
.auth_fieldset{
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 2px;
    height: auto;
    padding-bottom: 12px;
    padding: 0;
}
.auth_fieldset:hover legend{
   opacity: 1;
}
.auth_fieldset input{
    color: white !important;
    background-color: transparent !important;
}
.auth_userdata{
    border: none;
    background-color: transparent !important;
    color: white !important;
    //font-family: 'Oswald',sans-serif;
    // font-size: 24px;
    // line-height: 28px;
    // height: 30px;
    height: 17.0666666667vmin;
    font-family: 'Oswald',sans-serif;
    font-size: 6.4vmin;
    line-height: 6.4vmin;
    padding: 6.4vmin 3.2vmin 4.2666666667vmin;

    @media (min-width:1025px) {
        padding: 24px 12px 16px;
        height: 64px;
        font-size: 24px;
        line-height: 24px;
    }
}
.auth_userdata::placeholder{
    font-family: 'Oswald';
}
.auth_view_pass{
    position: absolute;
    right: -18px;
    top: 50%;
    z-index: 99;
    width: 45px;
    height: auto;
    color: #fff;
    transform: translate(-50%,-50%);
    border: none;
    background-color: transparent;
}
.auth_view_pass img{
    background-color: transparent;
    color: #fff;
}
.num_simbols_wrapper{
    justify-content: flex-start;
    height: auto;
    padding-top:20px;
}
.ok_pic{
    width: auto;
    height: auto;
    height: 25px;
    width: 25px;
}
.email_fieldset{
    margin-bottom: 6.4vmin;
    
    @media (min-width:1025px) {
        margin-bottom: 24px;
    }
}
.cancel{
    background-image: url('../public/img/cancel.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.ok{
    background-image: url('../public/img/okay.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.simbols_text{
    font-family: 'Montserrat',helvetica,arial,sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    justify-content: flex-start;
    padding-left: 12px;
    color: hsla(0,0%,100%,.8);
}
.submit_wrapper{
    height: auto;
    padding-top: 12vmin;
    //padding-top: 50px;
    padding-bottom: 6.4vmin;
    //padding-bottom: 40;

    @media (min-width:1025px) {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}
.submit_btn{
    border: none;
    border-radius: 2px;
    color: white;
    font-family: 'BebasRu';
    font-weight: 600;
    //font-size: 30px;
    background-color: #eab11f;
    padding: 20px;
	width: 100%;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.6px;
}
.disabled{
    pointer-events: none;
    opacity: 0.5;
}
.fieldset_pass{
    padding-right: 50px;
}
.login_mobile{
    gap: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding-right: 60px;
    height: 100%;
}
.logout_menu{
    font-size: 6.4vmin;
    line-height: 6.4vmin;
    padding: 12px;
    height: auto;
}
.close_menu{
    cursor: pointer;
    width: 38px;
    height: 38px;
    position: absolute;
    top: 12px;
    right: 12px;
    border: 1px solid #e5b713;
    border-radius: 50%;
    background-image: url('/img/close-alt.svg');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}
.close_menu:hover{
    background-color: #e5b713;
}
.burger_mail{
    font-size: 6.4vmin;
}
.burger_mail:hover{
    color: #eab11f;
}
.burger_menu_mobile{
    padding-top: 100px;
    @media (max-width:1024px) {
        padding-bottom: 20vmin;
    }
    
}
.reg_text{
    @media (max-width:1024px) {
        padding-bottom: 4.2vmin;
    }
}
@media(min-width: 1024px){
    .logout_menu{
        font-size: 36px;
        padding: 24px;
        height: auto;
    }
    .burger_menu{
        width: 50%;
        max-width: 580px;
    }
    .submit_btn{
        padding: 22px 20px 18px 38px;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: .6px;
    }
    .auth_fieldset{
        padding-bottom: auto;
    }
    .auth_container {
        padding: 252px 32px 48px;

    }
}