.calccoins{
    flex-direction: column;
    background-color: transparent;

    @media (min-width:1025px) {
        flex-direction: row;
        align-items: flex-start;
    }
}
.coins_fieldset{
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 4px;
    flex-direction: column;
    background-color: transparent;
    padding-bottom: 0;
    //z-index: -1;
}
.coins_pack{
    position: relative;
    top: -10px;
    padding-top: 20px;
    gap: 8px;
    overflow: auto;
    justify-content: flex-start;
    padding-left: 24px;
    padding-right: 24px;
    left: -24px;
    width: 100vw;
}
.coins_input{
    height: 12vmin;
    border: none;
    background-color: transparent;
    font-family: 'BebasNeue';
    font-weight: 500;
    font-size: 9.6vmin;
    line-height: 9.6vmin;

    @media (min-width:1025px) {
        height: 64px;
        font-size: 36px;
        line-height: 36px;
    }
}
.coins_legend{
    width: auto;
    height: auto;
    background-color: transparent;
    padding: 0 8px;
    font-family: 'Montserrat',helvetica,arial,sans-serif;
    font-weight: 600;
    font-size: 3.2vmin;
    line-height: 4vmin;
    letter-spacing: -.01em;

    @media (min-width:1025px) {
        font-size: 12px;
        line-height: 15px;
    }
}
.coins_wrapper{
    flex-direction: column;
    align-items: flex-start;

    @media (min-width:1025px) {
        width: 50%;
    }
}
.pack{
    position: relative;
    width: 13.8vw;
    min-width: 13.8vw;
    height: 9.333vw;
    font-size: 3.2vw;
    background-color: hsla(0,0%,100%,.2);
    border: none;
    border-radius: 4px;
    padding: 10px 0;
    font-family: 'Montserrat';
    font-weight: 600;

    @media (min-width:1025px) {
        width: 44px;
        min-width: auto;
        font-size: 11px;
        height: auto;
    }
}
.discount{
    position: absolute;
    top: -14px;
    border-radius: 4px;
    padding: 3px 5px 3px 4px;
    width: 28px;
    height: 18px;
    font-family: Montserrat,helvetica,arial,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 10px;
    line-height: 12px;
    color: #2b2c40;
    background: #eab11f;
    transform: rotate(352deg);
    z-index: 1;
}
.calc_inputs_wrapper{
    flex-direction: column;
    align-items: flex-start;
}
.calc_coins__border{
    border-radius: 4px 0 0 4px;
}
.calc_coins__border2{
    border-radius: 0 4px 4px 0;
}