.footer{
    border-top: 1px solid hsla(0,0%,76.9%,.2);
    margin-top: 100px;
    padding: 88px 0 23px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    background: #1B1D33;

    @media (min-width:1025px) {
        justify-content: flex-start;
    }
}
.footer::before{
    z-index: -1;
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    left: -75px;
    top: -1px;
    background: #1B1D33;
    border-top: 1px solid rgba(196, 196, 196, 0.2);
}
.footer::after{
    z-index: -1;
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    right: -75px;
    top: -1px;
    background: #1B1D33;
    border-top: 1px solid rgba(196, 196, 196, 0.2);
}

.footer_header{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 24px;
    height: auto;
    justify-content: flex-start;
    text-transform: lowercase;
    display: block;
}
.footer_header::first-letter{
    text-transform: uppercase;
}
.footer_firstcolumn{
    flex-direction: column;
    //padding-bottom: 50px;
    height: auto;
}
.footer_secondcolumn{
    flex-direction: row;
    //padding-bottom: 24px;
    align-items: flex-start;
    height: auto;
}
.footer_thirdcolumn{
    flex-direction: column;
    //padding-bottom: 24px;
    height: auto;
}   
.footer_info_font{
    font-family: 'Montserrat',helvetica,arial,sans-serif;
    font-weight: 400;
    font-size: 3.2vmin;
    line-height: 4vmin;
    letter-spacing: -.01em;
    color: hsla(0,0%,100%,.6);
    font-size: 12px;
    line-height: 15px;

    @media (min-width:1025px) {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.6);
    }

}
.footer_infowrapper{
    flex-direction: column;
    gap: 8px;
}
.footer_info_item{
    //padding-bottom: 12px;
    justify-content: flex-start;

    @media (min-width:1025px) {
        padding-bottom: 41px;
    }
}
.footer__mastercard{
    background-image: url('/img/mastercardgray.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}
.footer__veryvisa{
    background-image: url('/img/verivisagray.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}
.footer__visa{
    background-image: url('/img/visa.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}
.footer__master{
    background-image: url('/img/master.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}
.footer__apple{
    background-image: url('/img/applepay-grey.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}
.footer__svg_wrapper{
    justify-content: flex-start;
    margin-bottom: 12px;
    //margin-bottom: 62px;
    min-height: 20px;
    gap: 8px;
    
}
.footer_svg{
    justify-content: flex-start;
    min-height: 25px;
    background-position: center;
    max-width: 80px;
}
.footer_flexstart{
    justify-content: flex-start;
}
.footer_center_wrapper{
    width: 100%;
    flex-direction: column;

}
.footer_platform_item{
    height: auto;
}
.footer_icons_container{
    padding: 50px 0;
    //width: auto;
    justify-content: flex-start;
    align-self: flex-start;
    gap: 3vmin;

}

.royalfut{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: rgba(255, 255, 255, 0.4);
    text-transform: lowercase;
    display: block;
}
.royalfut::first-letter{
    text-transform: uppercase;
}

@media (max-width:1024px) {
    .footer_secondcolumn{
        padding-bottom: 50px;
    }
}
@media(min-width:1025px){
  
  .footer_firstcolumn{
    max-width: 340px;
    padding-bottom: 24px;
  }
  .footer_secondcolumn{
    max-width: 340px;
    align-items: center;
    flex-direction: column;
    padding-bottom: 24px;
  }
  .footer_thirdcolumn{
    max-width: 340px;
    padding-bottom: 24px;
  }
  .footer__svg_wrapper{
    margin-bottom: 46px;
    padding-top: 80px;
  }
  .footer_header{
    font-size: 24px;
  }
  .footer_center_wrapper{
    width: auto;
  }
}