@font-face {
    font-family: 'BebasRu';
    src: url('../fonts/BebasRu/BebasNeue-Bold.ttf');
    font-style: bold;
    font-weight: 700;
  }
  @font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue/BebasNeue-Regular.woff2');
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Medium.woff2');
    font-style: medium;
    font-weight: 700;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.woff2');
    font-weight: 400;
  }
  
  
  body, * {
    margin: 0;
    font-family: 'BebasNeue', 'BebasRu';
    color: white;
    background-color: #12142b;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  body{
    position:relative;
    background-color: transparent;
    min-width: 375px;
    min-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
  }
  #root{
    background-color: transparent;
    min-height: 100vh;
  }
  style,script, title, head{
    display: none;
  
  }
  .body__backgr{
    position: absolute;
    background: url('../img/bg-.jpg') center;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 196vmin;
    opacity: 0.2;
    -webkit-clip-path: polygon(0 0,100% 0,100% 16.5%,0 100%);
    clip-path: polygon(0 0,100% 0,100% 16.5%,0 100%);
    mix-blend-mode: lighten;
    top: 0;
    left: 0;
  }
  body::before{
    content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      width: 65vmin;
      height: 95vmin;
      background-image: url('../img/treangle.svg');
      -moz-background-size: contain;
      background-size: contain;
      background-repeat: no-repeat;
      pointer-events: none;
  }
  div,a,button{
    background: inherit;
  }
  a{
    text-decoration: none;
  }
  button{
    cursor: pointer;
  }
  .from-375-to-1024{
    display: flex;
  }
  
  .from-1025-to-1900{
    display:none;
  }
  @media(min-width:1025px){
    .from-375-to-1024{
        display: none;
    }
    .from-1025-to-1900{
        display: flex;
        width: auto;
    }
  }
  svg path {
    stroke:inherit;
    stroke-width:inherit;
    fill:inherit;
  }
  .error_page{
    background-color: transparent;
  }
  .color_gray{
    color: #686878;
  }
  input:-webkit-autofill, input:-webkit-autofill:focus, input:-webkit-autofill:focus-visible, input:-webkit-autofill:hover, select:-webkit-autofill, select:-webkit-autofill:focus, select:-webkit-autofill:hover, textarea:-webkit-autofill, textarea:-webkit-autofill:focus, textarea:-webkit-autofill:hover {
    border: 0;
    -webkit-text-fill-color: #fff;
    color: #fff;
    -webkit-box-shadow: 0 0 0 1000px #12142b inset;
    box-shadow: inset 0 0 0 1000px #12142b;
    -webkit-transition: background-color 9999s ease-in-out 0s;
    transition: background-color 9999s ease-in-out 0s;
    outline: none !important;
    caret-color: white;
  }
*:focus-visible{
  outline: none!important;
}
a:focus-visible, button:focus-visible{
  outline:-webkit-focus-ring-color auto 1px;
}

.logout{
  border: 1px solid #eab11f;
  border-radius: 2px;
  padding: 9px 15px;
  color: #fff;
  background-color: #12142b;
  font-size: 18px;
  line-height: 18px;
  width: auto;
}
.logout:hover{
  background-color: #eab11f;
}
.error{
  width: 0;
  height: auto;
  position: absolute;
  top: 50px;
  right: 50px;
  background: red;
  padding: 0;
  transition: all 0.5s;
}
.hide{
  display: none;
}
.bcgr-transparent{
  background-color: transparent;
}
.dropdown__arrow{
  background: url('../img/whitearrow.svg');
  width: 15px;
  height: 15px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: auto;   
  min-width: 15px;     
  margin: 0 8px;
  cursor: pointer;
}
.divider{
  border: 1px solid rgba(255,255,255,0.2);
  margin: 0 8px;
  height: 18px;
}