.h1_white_text{
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 28px;
    line-height: 110%;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: transparent;

    @media (min-width:1025px) {
        font-size: 50px;
        letter-spacing: 0.8px;
        //font-size: 36px;
    }
}
.h1_container{
    position: relative;
    margin-bottom: 80px;
    

    @media (min-width:1025px) {
        margin: 0;
        padding-top: 76px;
        flex-direction: column;
        gap: 8px;
        padding-bottom: 24px;
    }
}
.h1{
    position: absolute;
    bottom: -25px;
    font-weight: 800;
    font-size: 52px;
    line-height: 54px;
    background-image: linear-gradient(265.73deg, #A82DF9 0%, #6678E9 100%);
    color: transparent;
    background-clip: text;    
    font-style: italic;
    text-transform: uppercase;

    @media (min-width:1025px) {
        position: static;
        padding: 0;
        gap: 8px;
        font-size: 76px;
        line-height: 78px;
    }
}
.under_h1{
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: -67px;
    background-color: transparent;

    @media (min-width:1025px) {
        width: 635px;
        position: static;
        font-size: 24px;
        line-height: 31px;
        letter-spacing: 0.4px;
    }
}