.how_title{
    font-size: 10.8vmin;
    line-height: 10.8vmin;
    width: auto;
    align-self: flex-start;
    padding-bottom: 7vmin;
    padding-top: 9.6vmin;

    @media (min-width:1025px) {
        font-size: 72px;
        line-height: 72px;
    }
}
.how_container{
    flex-direction: column;
}
.how_tab{
    position: relative;
    font-size: 5.3vmin;
    line-height: 5.3vmin;
    color: hsla(0,0%,100%,.6);
    border: none;
    outline: none;
    width: auto;

    @media (min-width:1025px) {
        font-size: 24px;
        line-height: 24px;
    }
}
.how_tabs_wrapper{
    padding-bottom: 4.2vmin;
    border-bottom: 1px solid hsla(0,0%,76.9%,.2);
}
.how_is_active{
    color: white;
}
.how_is_active::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -16.5px;
    height: 2px;
    background-color: #fff;
}
.how_container_content{
    flex-direction: column;
}
.how_container_text{
    flex-direction: column;
    padding-top: 6.4vmin;

    @media (min-width:1025px) {
        padding-top: 36px;
    }
}
.how_step_img{
    background-color: transparent;
    border: none;
    width: 6.4vmin;

    @media (min-width:1025px) {
        width: 28px;
    }
}
.how_step_btn{
    background-color: transparent;
    border: none;
    width: auto;
    padding: 0 5vmin;
    user-select: none;

    @media (min-width:1025px) {
        padding: 0 30px;
    }
}
.how_subtitle{
    background-color: transparent;
    font-weight: 700;
    font-size: 6.4vmin;
    line-height: 1;
    text-align: center;
    color: #eab11f;

    @media (min-width:1025px) {
        font-size: 36px;
    }
}
.how_step_text{
    background-color: transparent;
    font-family: 'Montserrat',helvetica,arial,sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: hsla(0,0%,100%,.6);
    padding: 12px 0;
}
.how_btns_wrapper{
    font-size: 5.3vmin;
    padding-top: 6.6vmin;

    @media (min-width:1025px) {
        font-size: 24px;
        padding-top: 25px;
    }
}