.maincover_container{
    display: flex;
    max-width: 550px;
}
.cover_img{
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
}