.method{
    width: 100%;
    padding-top: 24px;
    //padding-top: 32px;
    gap: 10px;
    max-width: 100%;
    flex-direction: column;
    background-color: transparent;

    @media(min-width:1025px) {
        flex-direction: row;
        padding-bottom: 16px;
    }
}
.method_check{
    white-space: nowrap;
    
}
.method_radio{
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 0;
}
.method_label{
    //background-color: transparent;
    cursor: pointer;
    width: auto;
    padding: 16px;
    user-select: none;
    gap: 12px;
    align-items: center;
    background: transparent;
    border-radius: 16px;
    //border: 2px solid rgba(255, 255, 255, 0.05);

    @media (min-width:1025px) {
        width: 100%;
        justify-content: center;
        //padding: 0;
    }
}
.label_checked{
    background-color: rgba(255, 255, 255, 0.05);
}
.label_not_checked{
    //border: 2px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 0px 0.5px #404157 inset;
}
.method_label span{
    display: block;
    background-color: transparent;
    width: auto;
    max-width: 92px;
    //padding-left: 12px;
    //white-space: nowrap;
    font-family: 'Montserrat';
    font-style: normal;
    //font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    word-wrap: break-word;

    @media (min-width:1025px) {
        white-space: nowrap;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        max-width: initial;
        //color: #FFFFFF;
    }
}
.label_checked span{
    color: white;
}
.method_check{
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
    padding: 2px;
    overflow: hidden;;
    //box-shadow:  0 0 0 1px inset white;
    transition: all 0.3s linear;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
}
.method_radio:checked + .method_check{
    //box-shadow: 0 0 0 1px inset #eab11f, 0 0 0 2px inset black;
    //background-color: #eab11f;
    border: 1px solid #8852F2;
}
.method_radio:hover + .method_check{
    //box-shadow: 0 0 0 1px inset #eab11f, 0 0 0 2px inset black;
}
.bullet{
    display: block;
    border-radius: 50%;
    background: #8852F2;
    height: 14px;
    width: 14px;
    min-width: 14px;
    min-height: 14px;
}
.wrapper_radiogroup{
    justify-content: flex-start;
    gap: 16px;
}
.info_svg{
    width: auto;
    height: 22px;
    background-color: transparent;
}
.info_text{
    width: auto;
    font-family: 'Montserrat',helvetica,arial,sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: hsla(0,0%,100%,.5);
    padding-right: 12px;
    background-color: transparent;
}
.method_info{
    gap: 12px;
}
.method_info img{
    background-color: transparent;
    width: 22px;
}
.method_info:hover .info_text{
    color: white;
    transition: all 0.3s linear;
}