.price{
    flex-direction: column;
    align-items: flex-end;
    width: auto;
    position: relative;

    @media (min-width:1025px) {
        margin-left: auto;
    }
}
.price_wrapper{
    font-size: 9.6vmin;
    line-height: 9.6vmin;
    color: #eab11f;
    justify-content: flex-end;
    width: auto;
    white-space: nowrap;

    @media (min-width:1025px) {
        font-size: 36px;
        line-height: 36px;
        //padding-top: 24px;

    }
}
.coupon{
    width: auto;
    border: none;
    border-bottom: 0.2666666667vmin dashed #eab11f;
    padding-bottom: 0.2666666667vmin;
    font-family: 'Montserrat',helvetica,arial,sans-serif;
    font-weight: 400;
    font-size: 2.9333333333vmin;
    line-height: 4vmin;
    text-transform: none;
    color: #eab11f;
    white-space: nowrap;

    @media (min-width:1025px) {
        font-size: 11px;
        line-height: 15px;
        border-bottom: 1px dashed #eab11f;
        padding-bottom: 3px;
    }
}

.coupon_container_content{
    background-color: transparent;
    transition: all .3s ease-out;
    height: 13vmin;
    max-height: 1000px;
    overflow: hidden;
    position: relative;

    @media (min-width:1025px) {
        height: 75px;
    }
}
.coupon_content_hide{
    height: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: none;    
    width: 0;
}
.coupon_fieldset{
    background-color: transparent;
    height: 100%;
    border: 1px solid #eab11f;
    border-radius: 3px;
}
.coupon_legend{
    background-color: transparent;
    width: auto;
    padding: 0 5px;
    font-family: 'Montserrat',helvetica,arial,sans-serif;
    font-weight: 600;
    font-size: 3.2vmin;
    line-height: 4vmin;
    letter-spacing: -.01em;
    color: #eab11f;

    @media (min-width:1025px) {
        font-size: 15px;
        line-height: 15px;
    }
}
.coupon_input{
    font-family: Oswald,sans-serif;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 5.4vmin;
    line-height: 5.4vmin;

    @media (min-width:1025px) {
        font-size: 37px;
        line-height: 40px;
    }
}
.coupon_btn{
    position: absolute;
    padding: 1.3333333333vmin 4vmin 0.2666666667vmin 2.6666666667vmin;
    width: 100%;
    height: 11vmin;
    font-size: 6.4vmin;
    line-height: 6.4vmin;
    letter-spacing: .1066666667vmin;
    text-align: center;
    color: #fff;
    background-color: #eab11f;
    border: none;
    width: auto;
    right: 0;
    bottom: 0;
    border-radius: 0 3px 3px;

    @media (min-width:1025px) {
        font-size: 35px;
        line-height: 35px;
        height: 90%;
        padding: 0;
        width: 50%;
    }
}
.price_coupon_wrapper{
    width: 100%;
}

.payment_method__total_coupon_title {
    width: auto;
        display: inline-block;
        border-bottom: 1vmin dashed #eab11f;
        padding-bottom: 1vmin;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 11vmin;
        line-height: 15vmin;
        text-transform: none;
        color: #eab11f;

        @media (min-width:1025px) {
            border-bottom-width: 1px;
            padding-bottom: 1px;
            font-weight: 600;
            font-size: 11px;
            line-height: 15px;
        }
}

.payment_method__total_coupon_addon {
    position: relative;
    width: auto;
    top: 1vmin;
    display: inline-flex;
    align-items: center;
    margin-left: 8vmin;
    white-space: nowrap;
    color: rgba(#eab11f, 0.5);

    span {
        margin-right: 14vmin;
        background-color: transparent;
        color: rgba(#eab11f, 0.5);

        @media(min-width:1025px) {
            margin-right: 14px;
        }
    }
    @media(min-width: 1025px){
        top: 1px;
        margin-left: 8px;
    }

}
.promo_wrapper{
    justify-content: flex-end;
    width: auto;
    align-items: baseline;
}
.close_coupon{
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    background-color: transparent;
    background-image: url('/img/cross.svg');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
    background-position: center;
}
.close_coupon:hover{
    transform: rotate(720deg) scale(1.2);
    
    transition: all 1s ease-in-out;
}
.price_payment_wrapper{
    flex-direction: column;
    align-items: flex-end;

    @media (min-width:1025px) {
        position: absolute;
        width: auto;
        top: -50px;         
    }
}