.scrolltop{
    justify-content: center;
    width: 48px;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 100px;
    background-color: transparent;
    transform: rotate(180deg);
    background: linear-gradient(265.73deg, #A82DF9 0%, #6678E9 100%);
    justify-content: center;
    align-items: center;
    
}
.scrolltop_arrow{
    background-color: transparent;
    //transform: rotate(360deg);
    width: 19px;
}