.offer_container{
    flex-direction: column;
    gap: 24px;
}
.offer_content{
    position: relative;
    flex-direction: column;
    background: #2B2D43;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.4);
    border-radius: 28px;
    overflow: hidden;
    min-height: 433px;
}
.offer_h{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    background: inherit;
}
.offer_content_text{
    flex-direction: column;
    background: #2B2D43;
    padding: 28px 20px;
    z-index: 1;
}
.offer_title{
    background: inherit;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 8px;
}
.offer_text{
    background: inherit;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.6);
}
.goto{
    margin: 16px 0;
    height: 64px;
    font-weight: 600;
    @media (min-width:1025px) {
        margin: 0;
        
    }
}
.buy_btn{
    justify-content: center;
    align-items: center;
    padding: 20px 64px;
    gap: 8px;
    height: 64px;
    background: linear-gradient(265.73deg, #A82DF9 0%, #6678E9 100%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
  }
  .calc_btn{
    position: relative;
    background: #2B2D43    ;
    padding:16px 24px;
    border: 1px solid #6678E9;
    border-radius: 12px;

  }
//   .calc_btn:before{  
//       content: '';
//       position: absolute;
//       top: -2px; right: -2px; bottom: -2px; left: -2px;
//       z-index: -1;
//       border-radius: 12px;
//       background: linear-gradient(265.73deg, #A82DF9 0%, #6678E9 100%);  
//   }
  .copy_icon{
    background-color: transparent;
    width: auto;
    align-self: flex-end;
  }
  .promocode_text{
    background-color: transparent;
    justify-content: center;
    border: none;
    text-align: center;
    font-weight: 600;
  }
.offer_timer{
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: #349F5E;
    padding: 6px;
    width: auto;
    border-radius: 50%;
    
}
.green{
    background: rgba(21, 188, 38, 0.2);
    border: 1px solid #15BC26;
    border-radius: 12px;
    animation: pulse 2s infinite;
}
.product{
    height: 433px;
}
.offer_cover{
    @media (min-width:1025px) {
        min-height: 240px;
        height: 240px;
    }

    img{
        object-fit: cover;
    }
    
}
.wrapper_btns{
    flex-direction: column;
    @media (min-width:1025px) {
        flex-direction: row;
        gap: 16px;
        padding-top: 16px;
    }
}
.cover{
    object-fit: cover;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgb(44 204 60 / 40%);
    }
    
    70% {
        box-shadow: 0 0 0 10px rgb(44 204 59 / 0%);
    }
    100% {
        box-shadow: 0 0 0 0 rgb(44 204 73 / 0%);
    }
  }