.tableorders_container{
    flex-wrap: wrap;
    //gap: 8px;
    flex-direction: column;
    padding-top: 32px;
}
.tableorders_order{
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    transition: .3s;
}
.tableorders_order:hover{
    transition: .3s;
    //transform: scale(1.05);
    cursor: pointer;    
}
.tableorders_header_item{
    font-family: 'Montserrat',helvetica,arial,sans-serif;
    font-size: 12px;
    line-height: 15px;
}
.tableorders_header_item_id{
    max-width: 45px;
}
.tableorders_header_item_platform{
    min-width: 147px;
    flex-wrap: nowrap;
}
.tableorders_header_item_amount{
    max-width: 80px;
}
.tableorders_header_item_price{
    max-width: 95px;
}
.tableorders_header{
    padding: 9px 0;
}
.tableorder_header_date{
    justify-content: flex-start;
    align-items: center;
    font-family: 'Montserrat',helvetica,arial,sans-serif;
    white-space: nowrap;
    background-color: transparent;
}
.tableorder_header_info{
    justify-content: flex-start;
}
.tableorder_item_id{
    width: auto;
    font-size: 18px;
}
.tableorders_orders_container{
    flex-direction: column;
    gap: 9px;
}
.tableorder_header_day{
    padding-right: 10px;
    width: auto;
    font-family: 'Montserrat',helvetica,arial,sans-serif;
    color: hsla(0,0%,100%,.6);
    white-space: nowrap;
    font-size: 12px;
    line-height: 15px;
}
.tableorder_header_divider{
    height: 1px;
    background: hsla(0,0%,100%,.2);
    transition: .4s;
}
.tableorder_body{
    padding: 9px 0;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: transparent;
    //max-width: 70%;

    @media (max-width:1024px) {
        flex-wrap: wrap;
    }
    
}
.tableorder_header_id{
    flex-direction: column;
    width: auto;
}
.tableorder_subheader{
    justify-content: flex-start;
    font-family: 'Montserrat',helvetica,arial,sans-serif;
    opacity: .3;
    white-space: nowrap;
    font-size: 12px;
    line-height: 15px;
    
}
.tableorder_subheader_status{
    justify-content: center;
}
.tableorder_subheader_item{
    height: 45px;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;
    padding: 0 4px;
    width: auto;
}
.tableorder_status{
    width: auto;
    position: absolute;
    right: 0;
    bottom: 9px;
}
.tableorder_body_order_open{
    background-color: rgba(255,255,255,.2);
    padding: 16px 24px;
    width: 100vw;
}
.tableorder_content{
    flex-direction: column;
    background-color: transparent;
    align-items: flex-start;
    padding-top: 18px;
}
.tableorder_content_title{
    font-family: 'Montserrat',helvetica,arial,sans-serif;
    font-weight: 600;
    color: hsla(0,0%,100%,.3);
    font-size: 12px;
    line-height: 15px;
    width: auto;
}
.tableorder_content_transfer{
    padding-top: 14px;
}
.tableorder_content_progress{
    justify-content: flex-end;
    flex-direction: column;
}
.tableorder_content_percent{
    align-self: flex-end;
    width: auto;
}
.tableorder_content_progressline{
    height: 15px;
    background: rgba(121,101,238,.3);
    border-radius: 100px;
    justify-content: flex-start;
}
.tableorder_line{
    height: 100%;
    width: auto;
    background: rgb(121,101,238);
    border-radius: 100px;
}
.tableorder_content_transfer{
    justify-content: flex-start;
}
.tableorder_arrow{
    width: 16px;
    height: 14px;
    background-image: url('../img/whitearrow.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    transition: .3s;
}
.tableorder_arrow_trasform{
    transform: scaleY(-1);
}
.prof_comp_fieldset{
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 2px;
    height: auto;
    padding-bottom: 12px;
    padding: 0;
    background-color: transparent;
}
.email_fieldset{
    //margin-bottom: 6.4vmin;
    background-color: transparent;
    
    @media (min-width:1025px) {
        margin-bottom: 24px;
    }
}
.prof_comp_container{
    flex-direction: column;
}
.prof_comp_legend{
    font-family: 'Montserrat',helvetica,arial,sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    width: fit-content;
    padding: 0 8px;
    position: absolute;
    top: -10px;
    left: 30px;
    height: auto;
    transition: all linear 0.5s;
    background-color: transparent;
}
.prof_comp_userdata{
    border: none;
    background-color: transparent !important;
    color: white !important;
    height: 17.0666666667vmin;
    font-family: 'Oswald',sans-serif;
    font-size: 6.4vmin;
    line-height: 6.4vmin;
    padding: 6.4vmin 3.2vmin 4.2666666667vmin;
    box-shadow: none !important;

    @media (min-width:1025px) {
        padding: 24px 12px 16px;
        height: 64px;
        font-size: 24px;
        line-height: 24px;
    }
}
.prof_comp_userdata::placeholder{
    font-family: 'Oswald';
}
.fieldset_pass{
    padding-right: 50px;
    margin-bottom: 6.4vmin;
    background-color: transparent;
    
    @media (min-width:1025px) {
        margin-bottom: 24px;
    }
}
.prof_comp_view_pass{
    position: absolute;
    right: -18px;
    top: 50%;
    z-index: 99;
    width: 45px;
    height: auto;
    color: #fff;
    transform: translate(-50%,-50%);
    border: none;
    background-color: transparent;
}
.prof_comp_view_pass img{
    background-color: transparent;
    color: #fff;
}
.prof_comp_container_content{
    flex-direction: column;
}
.prof_acc_container{
    flex-direction: column;
}
.wrapper_inputs{
    flex-direction: column;
    gap: 24px;
    padding-top: 40px;
}
.tableorder_code_label{
    background-color: transparent;
    width: auto;
}
.account_inputs{
    gap: 24px;

    @media (max-width:1024px) {
        flex-direction: column;
    }
}
.wrapper_codes{
    justify-content: flex-start;
    align-items: flex-start;
    width: auto;
    flex-wrap: wrap;
    max-width: 100%;
}
.tableorder_code_item{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding: 4px 8px;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: .01em;
    white-space: nowrap;
    background: rgba(58,66,97,.8);
    border-radius: 4px;
    gap: 8px;
    width: auto;
}
.close_img{
    background-color: transparent;
    width: 16px;
    height: 16px;
}
.close_btn{
    background-color: transparent;
    border: none;
    padding: 0;
}
.code_text{
    background-color: transparent;
}
.code_helper{
    flex-direction: row;
    align-items: baseline;
    gap: 6px;
    padding-top: 24px;
    @media (max-width:1024px) {
        flex-wrap: wrap;
    }
    
}
.code_helper_text{
    width: auto;
    white-space: nowrap;
    background-color: transparent;
    font-family: 'Montserrat',helvetica,arial,sans-serif;
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
}
.code_helper_link{
    font-family: 'Montserrat',helvetica,arial,sans-serif;
    border-bottom: 2px dotted rgba(229,183,19,.6);
    padding-bottom: 0.5333333333vmin;
    font-weight: 600;
    color: #e5b713;
    transition: border-color .4s ease-out;
    width: auto;
    font-family: 'Montserrat',helvetica,arial,sans-serif;
    font-size: 12px;
    line-height: 15px;
}
.form_group{
    padding-top: 24px;
    justify-content: flex-end;
}
.code_post{
    padding: 14px 55px;
    background-color: #ffcf25;
    font-size: 20px;
    line-height: 20px;
    border-radius: 2px;
    width: auto;
    border: none;
}
.btn_content{
    font-size: 20px;
    line-height: 20px;
    color: white;
    border: none;
    background-color: transparent;
}
.codes_fieldset{
    justify-content: flex-start;
    padding: 10px;
}
.codes_input{
    height: auto;
    padding: 0;
    padding-left: 24px;
}
.profile_orderable_frame{
    padding-top: 24px;

}
.tableorder_iframe{
    height: 665px;
    
}
.tableorder_item_status{
    align-items: center;

    @media (min-width:1025px) {
        min-width: 150px;
    }
    
}
.status_svg{
    max-width: 6.4vmin;
    max-height: 6.4vmin;
    margin-left: 6px;
    background-color: transparent;

    @media (min-width:1025px) {
        max-width: 16px;
        max-height: 16px;
    }
}

.status_svg_success{
    animation: wiggle 2.5s infinite;
}
.status_svg_warning{
    animation: wiggle 2.5s infinite;
}

.status_svg_progress {
    -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.table{
    flex-direction: column;
}




///////////////////////////////////////////// animation
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}